<!--<form formGroupName="signupForm" (ngSubmit)="signupWithEmail()">-->

  <!--&lt;!&ndash;<div *ngIf="!checkUserLoggedIn()">&ndash;&gt;-->
  <!--&lt;!&ndash;<span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >&ndash;&gt;-->

  <!--<label for="fullName">Full Name</label>-->
  <!--<input type="text" formControlName="fullName"/>-->
  <!--<br>-->
  <!--<label for="phone">Phone Number</label>-->
  <!--<input type="text" formControlName="phone" name="phone"/>-->
  <!--<br>-->

  <!--<label for="email">email:</label>-->
  <!--<input type="text" formControlName="email" name="email">-->
  <!--<br>-->
  <!--<div>-->
    <!--<label for="password">password</label>-->
    <!--<input type="password" formControlName="password" name="password">-->
  <!--</div>-->
  <!--<br>-->
<!--</form>-->
